VITE_FIREBASE_API_KEY=AIzaSyAEqlvsSWUVgu8kwHwm9LfZzpiLqpGjdjA
VITE_FIREBASE_AUTH_DOMAIN=roadhazardreporter-dd194.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=roadhazardreporter-dd194
VITE_FIREBASE_STORAGE_BUCKET=roadhazardreporter-dd194.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=83956245829
VITE_FIREBASE_APP_ID=1:83956245829:web:9be1d88848d956362aca2c